<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>landCode</key>
		<string>UK</string>
		<key>landName</key>
		<string>Vereinigtes Königreich</string>
		<key>landCapital</key>
		<string>London</string>
		<key>landFlagImage</key>
		<string>uk.png</string>
		<key>landCapLat</key>
		<string>51.515951</string>
		<key>landCapLon</key>
		<string>-0.126774</string>
	</dict>
	<dict>
		<key>landCode</key>
		<string>DE</string>
		<key>landName</key>
		<string>Deutschland</string>
		<key>landCapital</key>
		<string>Berlin</string>
		<key>landFlagImage</key>
		<string>germany.png</string>
		<key>landCapLat</key>
		<string>52.520831</string>
		<key>landCapLon</key>
		<string>13.404167</string>
	</dict>
	<dict>
		<key>landCode</key>
		<string>FR</string>
		<key>landName</key>
		<string>Frankreich</string>
		<key>landCapital</key>
		<string>Paris</string>
		<key>landFlagImage</key>
		<string>france.png</string>
		<key>landCapLat</key>
		<string>48.858160</string>
		<key>landCapLon</key>
		<string>2.349272</string>
	</dict>
	<dict>
		<key>landCode</key>
		<string>NL</string>
		<key>landName</key>
		<string>Niederlande</string>
		<key>landCapital</key>
		<string>Amsterdam</string>
		<key>landFlagImage</key>
		<string>netherlands.png</string>
		<key>landCapLat</key>
		<string>52.372705</string>
		<key>landCapLon</key>
		<string>4.893463</string>
	</dict>
	<dict>
		<key>landCode</key>
		<string>PT</string>
		<key>landName</key>
		<string>Portugal</string>
		<key>landCapital</key>
		<string>Lissabon</string>
		<key>landFlagImage</key>
		<string>portugal.png</string>
		<key>landCapLat</key>
		<string>38.724607</string>
		<key>landCapLon</key>
		<string>-9.139262</string>
	</dict>
	<dict>
		<key>landCode</key>
		<string>ES</string>
		<key>landName</key>
		<string>Spanien</string>
		<key>landCapital</key>
		<string>Madrid</string>
		<key>landFlagImage</key>
		<string>spain.png</string>
		<key>landCapLat</key>
		<string>40.430030</string>
		<key>landCapLon</key>
		<string>-3.704950</string>
	</dict>
	<dict>
		<key>landCode</key>
		<string>IR</string>
		<key>landName</key>
		<string>Irland</string>
		<key>landCapital</key>
		<string>Dublin</string>
		<key>landFlagImage</key>
		<string>ireland.png</string>
		<key>landCapLat</key>
		<string>53.349658</string>
		<key>landCapLon</key>
		<string> -6.261502</string>
	</dict>
</array>
</plist>
